<p>
  Welcome to My Web Site!
</p>
<input type="text" name="num" id="num" [(ngModel)]="input_num">

<input type="button" value="Click Me" (dblclick)="getSquare()"/>
{{result}}
<!-- 
Sqaure of {{input_num}} is {{input_num * input_num}}

Cube of {{input_num}} is {{input_num * input_num * input_num}} -->