<div>
  {{ajax_response.first_name}}
  {{ajax_response.last_name}}
  <img src="{{ajax_response.avatar}}" width="100px" height="100px">
</div>
<div *ngFor = "let x of employee ">
   Name: {{x.name}} |
   City: {{x.city}} |
   Age: {{x.age}}
</div>
<div *ngFor = "let e of ajax_response">

  Id : {{e.id}} |
  Firstname : {{e.first_name}} |
  Lastname : {{e.last_name}} |
  profile photo : <img src="{{e.avatar}}" width="100px" height="100px">
</div>

<h1>{{msg_of_god.msg}}</h1>