<!--The content below is only a placeholder and can be replaced.-->
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contactpage">Contact Us</a></li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </li>
      </ul>
</nav>
<div style="text-align:center">
    <router-outlet></router-outlet>
  </div>

